<h1> Add Books </h1>


	<%= form_with url: '/listings', method: :post do |listing_f| %>
		<% @books.each_with_index do |book, index| %> 
		<p><%= listing_f.hidden_field :"listings[#{index}][list_id]", :value => @list.id %>
		<p><%= listing_f.label :"listings[#{index}][book_id]", "#{book.title}" %>
		<%= listing_f.check_box :"listings[#{index}][book_id]", :checked_value => book.id %></p>
		<p><%= listing_f.label :"listings[#{index}][comments]", "Comments:" %>
		<%= listing_f.text_area :"listings[#{index}][comments]" %></p>
		
	<% end %>
	<p><%= listing_f.submit "Add Books" %></p>
<% end %>
