<h1> Add Books </h1>


	<%= form_with url: '/listings', method: :post do |listing_f| %>
		<% @books.each_with_index do |book, index| %> 
		<p><%= listing_f.hidden_field :"list_id[#{index}]", :value => @list.id %>
		<p><%= listing_f.label :"book_id[#{index}]", "#{book.title}" %>
		<%= listing_f.check_box :"book_id[#{index}]", :checked_value => book.id %></p>
		<p><%= listing_f.label :"comments[#{index}]", "Comments:" %>
		<%= listing_f.text_area :"comments[#{index}]" %></p>
		
	<% end %>
	<p><%= listing_f.submit "Add Books" %></p>
<% end %>
