<h1><%= @author.name %></h1>

<h3> <%= link_to "See All #{@author.name}'s Books", "#{@author.id}/books" %> </h3>

<p><b> <%= @author.name %>'s Bio:</b> <%= @author.bio.present? ? @author.bio : "No bio yet – #{link_to('edit', edit_author_path(@author))} this author to write your own!".html_safe %></p>

<% if !@author.bio.blank? %>
	<span class = "link"><%= link_to "Edit Author's Bio", edit_author_path %></span>
<% end %>