
<h1><%= @user.username %>, Welcome To Your Profile</h1>

<h3><%= link_to "Your Lists", lists_path %></h3>

<h2>Books Read So Far This Year: <%= Book.this_year(session).length %></h2>

<% Book.this_year(session).each_with_index do |book, index| %>
	<p><%= index+1 %>. <%= link_to book.title, book_path(book) %> by <%= link_to book.author.name, author_path(book.author) %></p>
<% end %>
