<%= form_with model: @book, local: true do |book_f| %>
	<b><p><%= book_f.label :title, "Title of Book:" %>
	<%= book_f.text_field :title %></p></b>
	<% if !@author %>
		<b><p><%= book_f.label :author_name, "Author's Name:" %>
			<%= book_f.text_field :author_name %></p></b>
	<% else %>
		<%= book_f.hidden_field :author_id, :value => @author.id %>
	<% end %>
		<b><p><%= book_f.label :year_published, "Year Published:" %>
		<%= book_f.text_field :year_published %></p></b>
	<b><p><%= book_f.label :blurb, "Copy the first one-two sentences of the book's blurb, or write your own:" %>
		<%= book_f.text_area :blurb %></p></b>
	<b><p><%= book_f.label :cover_image_url, "URL for cover image:" %>
		<%= book_f.text_field :cover_image_url %></p></b>
	<p><%= book_f.submit %></p>
<% end %>