<div class="clear"><h1> <%= @book.title %> </h1></div>

<h2> By <%= @book.author.name %></h2>
<div class="cover"><% if @book.cover_image_url %>
	<img scr= <%= @book.cover_image_url %> >
<%end %></div>

<h3>Year Published: <%= @book.year_published %>

<h3> Blurb: </h3> <p><%= @book.blurb %></p>

<!-- if statement here so this does not display if you've already read the book -->
<% if !@read %>
	<h3>You have not yet read this book!</h3>
	<%= render partial: 'create_readbook', locals: {:book => @book, :rb => @rb} %>
<% else %>
	<h3>You have read this book! Would you like to add it to a list?</h3>
	<%= render partial: 'create_listing' %>
<% end %>